header.wrapper {
	width: 200px;
	margin: 0 auto;
}

#engine {
	height: calc(100vh - 7.6rem);
	position: relative;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;

	&.light {
		background-color: #fff7e0
	}

	&.dark {
		background-color: #2d2d2d;

		#content-area {
			color: #fff
		}
	}
}

#reader-component {
	width: 100%;
}

.typeArea {
	width: 100%;
}

.engineWrapper {
	height: calc(100% - 2rem);
    display: flex;
    justify-content: space-between;
	position: relative;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
}

.doubleColumns {
	-moz-column-count: 2;
    column-count: 2;
    grid-column-gap: 0;
    -moz-column-gap: 0;
    column-gap: 0;
    height: 100%;
    padding: 0;
    width: 100%;
}

.singleColumns {
	column-count: 1;
	column-gap: 0;
	height: 100%;
    padding: 0;
    width: 100%;

	#content-area {
		max-width: 37em;
		margin: 0 auto;
	}
}


.nav-prev {
	@apply left-0;
}

.nav-next {
	@apply right-0;
}

.viewer-nav {
	height: 100%;

	@apply fixed md:relative z-10 inset-y-0 transition duration-500 ease-in-out self-center w-10 cursor-pointer flex-shrink-0;


	&:focus,
	&:active {
		border: none !important;
		box-shadow: none !important;
		outline-color: transparent !important;
	}
}

.viewer-nav-icon {
	@apply opacity-0 md:opacity-80;
}
